<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.scielo.search"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application android:icon="@drawable/scielo" android:label="@string/app_name" android:theme="@style/Theme.SciELOApps">
        <activity android:name=".SciELOApps" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".SearchDocsActivity" 
                  android:label="@string/search_button" 
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".SearchJournalsActivity" 
                  android:label="@string/search_button" 
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" 
                       android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".SearchIssuesActivity" 
                  android:label="@string/tab_list_issues_name">            
        </activity>       
        <activity android:name=".DocumentActivity">
            <intent-filter>
        	    <action android:name="android.intent.action.SEND"/>
        	    <category android:name="android.intent.category.BROWSABLE"/>
				
			</intent-filter>
        </activity>
        <activity android:name=".TOCActivity">
        </activity>
        
        <!-- activity android:name=".ShowPreferencesActivity">
            
        </activity -->
    </application>
    <provider android:name=".SavedItemsProvider" android:authorities="org.scielo.search">
    </provider>
    
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
